# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
*.tlog
pids/
*.pid
*.seed
*.pid.lock

# Environment Variables
.env
.env.local
.env.*.local

# Build outputs
dist/
build/
coverage/
public/

# Cache and temporary files
*.cache
*.tmp
*.swp
.cache/
*.DS_Store
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# TypeScript
*.tsbuildinfo

# Jest
coverage/
.jest/

# IntelliJ IDEA
.idea/
out/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
